Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-copyright:
  name: Ensure all go files have the copyright header
  language: script
  entry: .hooks/go-copyright.sh

Capture OS signals while steps executed and perform cleanups as graceful shutdown
  cmd/run.go
  cmd/run_test.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/loader.go
  pkg/blocks/printstr.go
  pkg/blocks/requirements_test.go
  pkg/blocks/signal_handler.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-copyright

Follow up changes
  pkg/blocks/signalhandler.go
  pkg/blocks/ttps.go
Due: go-copyright

Action Method Order Constitency Pass (#491)
  pkg/blocks/actions.go
  pkg/blocks/basicstep.go
  pkg/blocks/compositeaction.go
  pkg/blocks/copypath.go
  pkg/blocks/createfile.go
  pkg/blocks/editstep.go
  pkg/blocks/fetchuri.go
  pkg/blocks/filestep.go
  pkg/blocks/printstr.go
  pkg/blocks/removepath.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttpcleanup.go
  pkg/blocks/ttps.go
Due: go-copyright

Update run-all-ttp-tests.sh
  run-all-ttp-tests.sh
Due: none

Update run-all-ttp-tests.sh (#492)
  run-all-ttp-tests.sh
Due: none

Add `ttpforge create ttp` Cobra Command (#482)
  cmd/create.go
  cmd/createttp.go
  cmd/createttp_test.go
  cmd/root.go
  docs/foundations/README.md
  docs/foundations/create.md
  pkg/platforms/current.go
Due: go-copyright

Add API Version and UUID to Example TTPs
  example-ttps/actions/copy-path/basic.yaml
  example-ttps/actions/create-file/basic.yaml
  example-ttps/actions/edit-file/append-delete.yaml
  example-ttps/actions/edit-file/replace.yaml
  example-ttps/actions/inline/basic.yaml
  example-ttps/args/basic.yaml
  example-ttps/args/choices.yaml
  example-ttps/args/regexp.yaml
  example-ttps/chaining/basic.yaml
  example-ttps/checks/path-exists.yaml
  example-ttps/cleanup/basic.yaml
  example-ttps/cleanup/default.yaml
  example-ttps/cleanup/failure.yaml
  example-ttps/introduction/dotfile-backdoor-demo.yaml
  example-ttps/requirements/os-and-superuser.yaml
  example-ttps/templating/loops-integers.yaml
  example-ttps/templating/loops-strings.yaml
  example-ttps/templating/loops.yaml
  example-ttps/tests/dry-run.yaml
  example-ttps/tests/minimal-test-case.yaml
  example-ttps/tests/with-args.yaml
Due: none

Add API Version and UUID to Example TTPs (#493)
  example-ttps/actions/copy-path/basic.yaml
  example-ttps/actions/create-file/basic.yaml
  example-ttps/actions/edit-file/append-delete.yaml
  example-ttps/actions/edit-file/replace.yaml
  example-ttps/actions/inline/basic.yaml
  example-ttps/args/basic.yaml
  example-ttps/args/choices.yaml
  example-ttps/args/regexp.yaml
  example-ttps/chaining/basic.yaml
  example-ttps/checks/path-exists.yaml
  example-ttps/cleanup/basic.yaml
  example-ttps/cleanup/default.yaml
  example-ttps/cleanup/failure.yaml
  example-ttps/introduction/dotfile-backdoor-demo.yaml
  example-ttps/requirements/os-and-superuser.yaml
  example-ttps/templating/loops-integers.yaml
  example-ttps/templating/loops-strings.yaml
  example-ttps/templating/loops.yaml
  example-ttps/tests/dry-run.yaml
  example-ttps/tests/minimal-test-case.yaml
  example-ttps/tests/with-args.yaml
Due: none

Validate UUIDs in YAML (#494)
  cmd/test.go
  pkg/blocks/preamble.go
  pkg/blocks/ttps.go
Due: go-copyright

create ttp cmd not to fail if folder does not exists
  cmd/createttp.go
Due: go-copyright

create ttp cmd not to fail if folder does not exists (#496)
  cmd/createttp.go
Due: go-copyright

Update public README.md with project history (#495)
  README.md
Due: none

Fix Flaky - TestFindFilePath
  pkg/blocks/common_test.go
Due: go-copyright

Fix Flaky - TestFindFilePath (#498)
  pkg/blocks/common_test.go
Due: go-copyright

Don't rely on current directory as base in file-system tests
  pkg/blocks/common_test.go
Due: go-copyright

Don't rely on current directory as base in file-system tests (#499)
  pkg/blocks/common_test.go
Due: go-copyright

Fix race conditions in tests.
  cmd/run_test.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Due: go-copyright

Added pre-commit hooks for Go tests and linting.
  .hooks/go-copyright.sh
  .hooks/go-licenses.sh
  .hooks/go-vet.sh
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
  go.mod
Due: go-no-replacement

Fix race conditions and add hooks (#500)
  .hooks/go-copyright.sh
  .hooks/go-licenses.sh
  .hooks/go-vet.sh
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
  cmd/run_test.go
  go.mod
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Due: go-no-replacement, go-copyright

WIP: expect step
  .pre-commit-config.yaml
  example-ttps/actions/expect/expect-basic.yaml
  example-ttps/actions/expect/expect.yaml
  example-ttps/actions/expect/interactive.py
  example-ttps/actions/expect/testfile.txt
  go.mod
  go.sum
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
  pkg/blocks/step.go
Due: go-no-replacement, go-copyright

Refactored expect.yaml and step.go to remove `type` field from step structs
  example-ttps/actions/expect/expect.yaml
  pkg/blocks/basicstep.go
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
  pkg/blocks/step.go
Due: go-copyright

Working with an awkward refactor
  example-ttps/actions/expect/expect.yaml
  pkg/blocks/basicstep.go
  pkg/blocks/expectstep.go
  pkg/blocks/step.go
Due: go-copyright

Fully working ExpectStep
  .pre-commit-config.yaml
  example-ttps/actions/expect/expect-basic.yaml
  go.mod
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
  pkg/blocks/step.go
Due: go-no-replacement, go-copyright

Added directory change handling and refactored test script creation
  example-ttps/actions/expect/interactive.py
  example-ttps/actions/expect/testfile.txt
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
Due: go-copyright

Updated `expectstep.go` and `step.go` with enhanced documentation and attributes.
  pkg/blocks/expectstep.go
  pkg/blocks/step.go
Due: go-copyright

Update to use non-forked go mod - reducing dependencies
  go.mod
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
Due: go-no-replacement, go-copyright

Final round of squashing go mods
  go.mod
  go.sum
Due: go-no-replacement

Remove accidentally tripled pre-commit hook
  .pre-commit-config.yaml
Due: none

Update test action to do coverage testing + bug fixes
  .github/workflows/tests.yaml
Due: none

Remove licenses action in favor of testing in pre-commit
  .github/workflows/licenses.yaml
  .github/workflows/pre-commit.yaml
Due: none

Add new expect action (#501)
  .github/workflows/licenses.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  example-ttps/actions/expect/expect.yaml
  go.mod
  go.sum
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
  pkg/blocks/step.go
Due: go-no-replacement, go-copyright

Reduce outputs from powershell-baked TTPs
  pkg/blocks/basicstep.go
Due: go-copyright

Reduce outputs from powershell-baked TTPs (#502)
  pkg/blocks/basicstep.go
Due: go-copyright

Refactor expect step, increase test coverage, update pre-commit config
  .pre-commit-config.yaml
  example-ttps/actions/expect/expect.yaml
  example-ttps/actions/expect/ssh-pw-expect.yaml
  go.mod
  go.sum
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
  pkg/blocks/step.go
Due: go-no-replacement, go-copyright

Refactor expect step, increase test coverage, update pre-commit config (#503)
  .pre-commit-config.yaml
  .semgrepignore
  example-ttps/actions/expect/expect.yaml
  example-ttps/actions/expect/ssh-pw-expect.yaml
  go.mod
  go.sum
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
  pkg/blocks/step.go
Due: go-no-replacement, go-copyright

Path conditions:
  go-no-replacement: any of: go.mod
  go-copyright: any of: \.go$
