Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-copyright:
  name: Ensure all go files have the copyright header
  language: script
  entry: .hooks/go-copyright.sh

remove executable permissions from workflow yaml files
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

Github: Fix Workflow File Permissions (#460)
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

Github: Add Shellcheck Action (#462)
  .github/workflows/shellcheck.yaml
  test.sh
Due: none

Verify Github Actions Blocks Lands
  go.mod
Due: go-no-replacement

Switch Underscores to Dashes (#465)
  .github/workflows/tests.yaml
  cmd/run_darwin_test.go
  cmd/run_linux_test.go
  cmd/test-resources/repos/test-repo/ttps/requirements/darwin-only.yaml
  cmd/test-resources/repos/test-repo/ttps/requirements/linux-only.yaml
  example-ttps/actions/create-file/basic.yaml
  example-ttps/actions/edit-file/append-delete.yaml
  example-ttps/actions/edit-file/replace.yaml
  example-ttps/requirements/os-and-superuser.yaml
  example-ttps/tests/dry-run.yaml
  example-ttps/tests/minimal-test-case.yaml
  example-ttps/tests/with-args.yaml
  integration-tests.sh
  run-all-ttp-tests.sh
Due: go-copyright

TTP Repository Update
  cmd/init.go
  docs/foundations/README.md
  docs/foundations/repositories.md
  example-ttps/chaining/basic.yaml
  pkg/blocks/subttp.go
  pkg/fileutils/fileutils.go
  pkg/repos/repo.go
  pkg/repos/repocollection.go
Due: go-copyright

TTP Repository Update (#466)
  cmd/init.go
  docs/foundations/README.md
  docs/foundations/repositories.md
  example-ttps/chaining/basic.yaml
  pkg/blocks/subttp.go
  pkg/fileutils/fileutils.go
  pkg/repos/repo.go
  pkg/repos/repocollection.go
Due: go-copyright

Improve Output Formatting and Error Messages
  cmd/root.go
  docs/foundations/repositories.md
  example-ttps/args/choices.yaml
  example-ttps/args/regexp.yaml
  example-ttps/cleanup/basic.yaml
  pkg/blocks/actions.go
  pkg/blocks/basicstep.go
  pkg/blocks/copypath.go
  pkg/blocks/createfile.go
  pkg/blocks/editstep.go
  pkg/blocks/fetchuri.go
  pkg/blocks/filestep.go
  pkg/blocks/loader.go
  pkg/blocks/printstr.go
  pkg/blocks/removepath.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Due: go-copyright

Improve Output Formatting and Error Messages (#467)
  cmd/root.go
  docs/foundations/repositories.md
  example-ttps/args/choices.yaml
  example-ttps/args/regexp.yaml
  example-ttps/cleanup/basic.yaml
  pkg/blocks/actions.go
  pkg/blocks/basicstep.go
  pkg/blocks/copypath.go
  pkg/blocks/createfile.go
  pkg/blocks/editstep.go
  pkg/blocks/fetchuri.go
  pkg/blocks/filestep.go
  pkg/blocks/loader.go
  pkg/blocks/printstr.go
  pkg/blocks/removepath.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Due: go-copyright

Documentation: TTP Chaining (#470)
  docs/foundations/README.md
  docs/foundations/actions.md
  docs/foundations/chaining.md
Due: none

💡 [REQUEST] - Finish Recursive Copying Support for `copy_path`, (#468)
  go.mod
  go.sum
  pkg/blocks/copypath.go
  pkg/blocks/copypath_test.go
Due: go-no-replacement, go-copyright

Documentation: Add Loop Templating Examples
  example-ttps/templating/loops-integers.yaml
  example-ttps/templating/loops-strings.yaml
  example-ttps/templating/loops.yaml
Due: none

Documentation: Add Loop Templating Examples (#471)
  example-ttps/templating/loops-integers.yaml
  example-ttps/templating/loops-strings.yaml
  example-ttps/templating/loops.yaml
Due: none

Documentation: Update for Underscore-to-Dash Transition
  docs/foundations/actions/create_file.md
  docs/foundations/actions/edit_file.md
  docs/foundations/actions/inline.md
  docs/foundations/args.md
  docs/foundations/chaining.md
  docs/foundations/cleanup.md
  docs/foundations/requirements.md
  docs/foundations/tests.md
Due: none

Documentation: Update for Underscore-to-Dash Transition (#472)
  docs/foundations/actions/create_file.md
  docs/foundations/actions/edit_file.md
  docs/foundations/actions/inline.md
  docs/foundations/args.md
  docs/foundations/chaining.md
  docs/foundations/cleanup.md
  docs/foundations/requirements.md
  docs/foundations/tests.md
Due: none

💡 [REQUEST] - Update documentation for `copy_path` action
  docs/foundations/actions.md
  docs/foundations/actions/copy_path.md
  example-ttps/actions/copy-path/basic.yaml
Due: none

💡 [REQUEST] - Update documentation for `copy_path` action (#473)
  docs/foundations/actions.md
  docs/foundations/actions/copy_path.md
  example-ttps/actions/copy-path/basic.yaml
Due: none

Fix GitHub embed link to `copy_path` action example documentation. (#474)
  docs/foundations/actions/copy_path.md
  example-ttps/actions/copy-path/basic.yaml
Due: none

TTP Testing: Add Default Dry-Run Test Case (#475)
  cmd/test.go
  integration-tests.sh
  pkg/blocks/preamble.go
  pkg/blocks/ttps.go
  run-all-ttp-tests.sh
Due: go-copyright

Add Remove Path To Action Candidates
  pkg/blocks/removepath.go
  pkg/blocks/step.go
Due: go-copyright

Add Remove Path To Action Candidates (#477)
  pkg/blocks/removepath.go
  pkg/blocks/step.go
Due: go-copyright

Example of path_exists Post-Execution Check (#480)
  example-ttps/checks/path-exists.yaml
Due: none

Remove Args from TTPExecutionConfig (#483)
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/fetchuri_test.go
  pkg/blocks/loader.go
  pkg/blocks/ttps_test.go
Due: go-copyright

Refactor Useful Test Functions from copypath_test
  pkg/blocks/copypath_test.go
  pkg/testutils/dir.go
  pkg/testutils/dir_test.go
Due: go-copyright

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update go mods
  go.mod
  go.sum
Due: go-no-replacement

Capture OS signals while steps executed and perform cleanups as graceful shutdown
  cmd/run.go
  cmd/run_test.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/loader.go
  pkg/blocks/printstr.go
  pkg/blocks/requirements_test.go
  pkg/blocks/signal_handler.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-copyright

Path conditions:
  go-no-replacement: any of: go.mod
  go-copyright: any of: \.go$
